<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
            name="lograiltown"
            xsi:type="Railtown" RailtownKey="eyJ1IjoiY2hyaXMtZGV2LnJhaWx0b3dubG9ncy5jb20iLCJvIjoiZDY2YTU0MmEtZWIyZC00ZWZlLTkxOTEtNDg4YmVkYjNkOGU5IiwicCI6IjE4ZTk1ZWQxLWZjYmYtNGZiMi1iZWE2LTk5ZWRmYjk3NjA0ZSIsImgiOiI4OVVrWVcwNVRER3cycnFIcCs1eXlJd2czUHprN3o4N1RweERXanBHZ29NPSIsImUiOiJkMjA5MjA3Ni03ZjA1LTQyY2EtODYyMC0yODg4ZTQ0MTk5ZjIifQ=="/>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="lograiltown" />
  </rules>
</nlog>